body {
    background-color: #221122;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    background-color: #181115de;
    box-shadow: #000000 0 2px 6px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    padding: 20px;
    background-color: #221820de;
    display: flex;
    gap: 8px
}

#main > input {
    margin: 10px;
    min-width: 400px;
    background-color: #665566;
    border: none;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
}

button {
    margin: 5px;
    padding: 5px;
    background-color: #665566;
    border: none;
    border-radius: 10px;
}

button:disabled {
    background-color: #252425;
}

#listen-info {
    margin-top: 10px;
    color: wheat;
}

#explanation ol li {
    color: rgb(184, 158, 110);
}

#credits {
    display: flex;
    flex-direction: row;
    color: wheat;
}

#credits div {
    display: flex;
    align-items: center;
}

img.button {
    image-rendering: pixelated;
}

a {
    color: rgb(219, 96, 219);
}
